@import "bootstrap/dist/css/bootstrap.min.css";

.montserrat uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{
    background-image: url("/workspaces/stevenyat-Generador-de-dominios/src/assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.table-scroll {
    max-height: 400px;
    overflow-y: auto;
}
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;   
}